/* styles.css - small helpers */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --primary: #758cb2;
  --color-secondary: #eff2f7;
}
body {
  font-family: 'Urbanist', sans-serif;
}

@theme {
  --color-secondary: #eff2f7;
}

.bg-hero {
  background-color: var(--primary);
  background-size: cover;
  background-position: center;
}
/* subtle glass card */
.card-glass {
  background: rgba(--primary);
  backdrop-filter: blur(4px);
}
.bg-secondary {
  background-color: var(--color-secondary);
}

/* Add a bottom border (underline) on hover for non-active links */
nav a::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--primary);
  width: 0;
  transition: width 0.3s;
  margin-top: 2px;
}
nav a:hover::after,
nav a.active::after {
  width: 100%;
}


